<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <title>Course List</title>
    <style>
        ul {
            list-style: none;
            display: flex;
        }

        ul li {
            margin-right: 5px;
        }

    </style>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/student">Home</a></li>
            <li><a href="/student/profile">Profile</a></li>
            <li><a href="/student/course">Courses</a></li>
        </ul>
    </nav>
</header>
<main sec:authorize="isAuthenticated()">
    <ul>
        <li><a href="/student/course">Available Courses</a></li>
        <li><a href="/student/course/enrolled">Enrolled Courses</a></li>
    </ul>
    <h1>Enrolled Courses</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Active</th>
            <th>Registration Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${courses}">
            <td th:text="${course.id}"></td>
            <td th:text="${course.name}"></td>
            <td th:text="${course.active}"></td>
            <td th:text="${course.registrationDate}"></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>

