<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title>Profile</title>
    <style th:replace="~{layout :: style}"></style>
</head>

<body>
<header th:replace="~{layout :: header}"></header>
<main>
    <h2>User Profile</h2>
    <ul>
        <li><strong>Email:</strong> <span th:text="${user.email}"></span></li>
        <li><strong>First Name:</strong> <span th:text="${user.firstName}"></span></li>
        <li><strong>Last Name:</strong> <span th:text="${user.lastName}"></span></li>
        <li><strong>Role:</strong> <span th:text="${user.role}"></span></li>
        <li><strong>Active Status:</strong> <span th:text="${user.active}"></span></li>
    </ul>

    <div class="row">
        <a style="text-decoration: none" th:href="@{/profile/update}">
            <button>
                Update Profile
            </button>
        </a>
        <form th:action="@{/api/profile/delete}" method="post">
            <button type="submit"
                    onclick="return confirm('Are you sure you want to delete your account? This action cannot be undone.')">
                Delete Account
            </button>
        </form>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</main>
</body>
</html>

