<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title>Add Course</title>
    <style th:replace="~{layout :: style}"></style>
</head>

<body>
<header th:replace="~{layout :: header}"></header>
<main>
    <h1>Add Course</h1>
    <form action="#" th:action="@{/api/course/add}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"/><br/>

        <label for="active">Active:</label>
        <input type="checkbox" id="active" name="active"/><br/>

        <label for="registrationDate">Registration Date:</label>
        <input type="date" id="registrationDate" name="registrationDate"/><br/>

        <button type="submit">Add Course</button>
    </form>
</main>
</body>
</html>

