<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <title>Profile</title>
    <style>
        ul {
            list-style: none;
        }

        nav ul {
            display: flex;
        }

        nav ul li {
            margin-right: 5px;
        }

        .row {
            display: flex;
        }

    </style>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/teacher">Home</a></li>
            <li><a href="/teacher/profile">Profile</a></li>
            <li><a href="/teacher/course">Courses</a></li>
            <li><a href="/teacher/show/teacher">Show Teachers</a></li>
            <li><a href="/teacher/show/student">Show Students</a></li>
        </ul>
    </nav>
</header>
<main sec:authorize="isAuthenticated()">
    <h2>Teacher Profile</h2>
    <ul>
        <li><strong>Email:</strong> <span th:text="${teacher.email}"></span></li>
        <li><strong>First Name:</strong> <span th:text="${teacher.firstName}"></span></li>
        <li><strong>Last Name:</strong> <span th:text="${teacher.lastName}"></span></li>
        <li><strong>Role:</strong> <span th:text="${teacher.role}"></span></li>
        <li><strong>Active Status:</strong> <span th:text="${teacher.active}"></span></li>
    </ul>

    <div class="row">
        <button>
            <a style="text-decoration: none" th:href="@{/teacher/profile/update}">Update Profile</a>
        </button>

        <form th:action="@{/api/profile/delete}" method="post">
            <button type="submit"
                    onclick="return confirm('Are you sure you want to delete your account? This action cannot be undone.')">
                Delete Account
            </button>
        </form>

        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>


</main>
</body>
</html>

