<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title>Update Profile</title>
    <style>
        ul {
            list-style: none;
        }

        nav ul {
            display: flex;
        }

        nav ul li {
            margin-right: 5px;
        }

    </style>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/teacher">Home</a></li>
            <li><a href="/teacher/profile">Profile</a></li>
        </ul>
    </nav>
</header>

<main>
    <h2>Update Profile</h2>

    <form th:action="@{/api/profile/update}" method="post">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" th:value="${teacher.firstName}"/>
        <br>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" th:value="${teacher.lastName}"/>
        <br>
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password"/>
        <br>
        <button type="submit">Update</button>
    </form>

    <a href="/teacher/profile">Back to Profile</a>
</main>
</body>
</html>
